{% extends 'base.html' %}
{% block css %}
    <style>
        .cart-container {
            width: 100vw;
            height: 100vh;
            background-color: #F0F2F5;
            display: flex;
        }
        .cart-container > div {
            background: white;
            margin-top: 10px;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.13);
        }
        .left {
            width: 60%;
            height: 100vh;
            margin-left: 40px;
        }
        .right {
            width: 30%;
            height: 60vh;
            margin-left: 50px;
        }
        #price-heading {
            font-size: 1.2rem;
            font-weight: 600;
            color: #878787;
            margin-left: 10px;
            margin-top: 10px;
        }
        .first {
            display: flex;
        }
        .first p {
            font-size: 1.1rem;
            font-weight: 500;
            margin-left: 20px;
        }
        #value {
            margin-left: 200px;
        }
        #value2 {
            margin-left: 222px;
        }
        #value3 {
            margin-left: 180px;
        }
        .total-amount-container {
            display: flex;
        }
        .total-amount-container p{
            font-size: 1.3rem;
            font-weight: 600;
            margin-left: 20px;
        }
        #value4 {
            margin-left: 160px;
        }
    </style>

{% endblock css %}
{% block body %}

    <div class="cart-container">
        <div class="left">

        </div>
        <div class="right">
            <p id="price-heading">PRICE DETAILS</p>
            <hr>
            <div class="first">
                <p>Price({{cart.getCartTotalItems}} item)</p>
                <p id="value">₹{{cart.getCartOriginalPrice}}</p>
            </div>
            <div class="first">
                <p>Discount</p>
                <p id="value2">-₹{{cart.getCartTotalDiscout|floatformat:"-1"}}</p>
            </div>
            <div class="first">
                <p>Delivery Charges</p>
                <p id="value3">FREE</p>
            </div>
            <hr>
            <div class="total-amount-container">
                <p>Total Amount</p>
                <p id="value4">₹{{cart.getCartTotal}}</p>
            </div>
        </div>
    </div>
{% endblock body %}
{% block js %}
    <script>
        function formatPrice(elementId,value,...rest) {
            let x = rest.length?rest[0]:""
            let totalAmount = parseInt(elementId)
            document.getElementById(value).innerText = `${rest}₹${totalAmount.toLocaleString("en-in")}`
        }
        formatPrice('{{cart.getCartOriginalPrice}}','value')
        formatPrice('{{cart.getCartTotal}}','value4')
        formatPrice('{{cart.getCartTotalDiscout|floatformat:"-1"}}','value2','-')
    </script>
{% endblock js %}